<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="db" connectionString="Data Source=DESKTOP-9VCMGH5;Initial Catalog=deaf_hajj;User Id=sa;Password=123456;Persist Security Info=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
  </system.web>
</configuration>